<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Survey Questions</title>
  </head>

  <body>
    <h1>CHECK YOUR MENTAL STRESS</h1>
    <h4> By answering the following questions</h4>
    <form action="data" method='POST'>
      {% csrf_token %}
      <p>1.Have you ever had difficulty in concentrating or appeared to have a blank mind?</p>
      <label>
        <input type="radio" name="question4" value="STRONGLY AGREE"> A) strongly agree
      </label>
      <label>
        <input type="radio" name="question4" value="AGREE"> B) agree
      </label>
      <label>
        <input type="radio" name="question4" value="NEUTRAL"> C) neutral
      </label>
      <label>
        <input type="radio" name="question4" value="DISAGREE"> D) disagree
      </label>
      <label>
        <input type="radio" name="question4" value="STRONGLY DISAGREE"> E) strongly disagree
      </label>

      <p>2.When do you feel more stress?</p>
      <label>
        <input type="radio" name="When" value="EARLY MORNING"> a) Early morning
      </label>
      <label>
        <input type="radio" name="When" value="AFTERNOON"> b) Afternoon
      </label>
      <label>
        <input type="radio" name="When" value="EVENING"> c) Evening
      </label>
      <label>
        <input type="radio" name="When" value="NIGHT"> d) Night
      </label>

      <p>3.Do you feel anxiety with your works?</p>
      <label>
        <input type="radio" name="feel" value="STRONGLY AGREE"> A) strongly agree
      </label>
      <label>
        <input type="radio" name="feel" value="AGREE"> B) agree
      </label>
      <label>
        <input type="radio" name="feel" value="NEUTRAL"> C) neutral
      </label>
      <label>
        <input type="radio" name="feel" value="DISAGREE"> D) disagree
      </label>
      <label>
        <input type="radio" name="feel" value="STRONGLY DISAGREE"> E) strongly disagree
      </label>

      <p> Do you feel anxiety with your social life?</p>
      <label>
        <input type="radio" name="question7" value="STRONGLY AGREE"> A) strongly agree
      </label>
      <label>
        <input type="radio" name="question7" value="AGREE"> B) agree
      </label>
      <label>
        <input type="radio" name="question7" value="NEUTRAL"> C) neutral
      </label>
      <label>
        <input type="radio" name="question7" value="DISAGREE"> D) disagree
      </label>
      <label>
        <input type="radio" name="question7" value="STRONGLY DISAGREE"> E) strongly disagree
      </label>

      <p> Do you feel anxiety with your personal problems?</p>
      <label>
        <input type="radio" name="uestion8" value="STRONGLY AGREE"> A) strongly agree
      </label>
      <label>
        <input type="radio" name="uestion8" value="AGREE"> B) agree
      </label>
      <label>
        <input type="radio" name="uestion8" value="NEUTRAL"> C) neutral
      </label>
      <input type="radio" name="uestion8" value="DISAGREE"> D) disagree
    </label>
    <label>
      <input type="radio" name="uestion8" value="STRONGLY DISAGREE"> E) strongly disagree
    </label>

    <p> Do you find difficulty to pay attention in class?</p>
    <label>
      <input type="radio" name="find" value="STRONGLY AGREE"> A) strongly agree
    </label>
    <label>
      <input type="radio" name="find" value="AGREE"> B) agree
    </label>
    <label>
      <input type="radio" name="find" value="NEUTRAL"> C) neutral
    </label>
    <input type="radio" name="find" value="DISAGREE"> D) disagree
  </label>
  <label>
    <input type="radio" name="find" value="STRONGLY DISAGREE"> E) strongly disagree
  </label>

  <p>How much time do you spend for studying in a day?</p>
  <label>
    <input type="radio" name="spend" value="0-1 HOUR"> A) 0-1 HOUR
  </label>
  <label>
    <input type="radio" name="spend" value="2-3 HOUR"> B) 2-3 HOUR
  </label>
  <label>
    <input type="radio" name="spend" value="3-4 HOUR"> C) 3-4 HOUR
  </label>
  <input type="radio" name="spend" value=" 4+ HOUR"> D) 4+ HOUR
</label>

  <p> Do you struggle to achieve your passion or goal?</p>
  <label>
    <input type="radio" name="goal" value="STRONGLY AGREE"> A) strongly agree
  </label>
  <label>
    <input type="radio" name="goal" value="AGREE"> B) agree
  </label>
  <label>
    <input type="radio" name="goal" value="NEUTRAL"> C) neutral
  </label>
  <input type="radio" name="goal" value="DISAGREE"> D) disagree
</label>
<label>
  <input type="radio" name="goal" value="STRONGLY DISAGREE"> E) strongly disagree
</label>

<p>Do you struggle to learn new things?</p>
<label>
  <input type="radio" name="learn" value="STRONGLY AGREE"> A) strongly agree
</label>
<label>
  <input type="radio" name="learn" value="AGREE"> B) agree
</label>
<label>
  <input type="radio" name="learn" value="NEUTRAL"> C) neutral
</label>
<input type="radio" name="learn" value="DISAGREE"> D) disagree
</label>
<label>
<input type="radio" name="learn" value="STRONGLY DISAGREE"> E) strongly disagree
</label>

<p>What are the usual Psychological or Emotional effects of stress you've noticed at yourself?</p>

		<input type="radio" name="psychological" value="ANXIETY OR FEAR"> Anxiety or fear<br>
		<input type="radio" name="psychological" value="IRRITATION OR ANGER"> Irritation or anger<br>
		<input type="radio" name="psychological" value="TIREDNESS"> Tiredness<br>
		<input type="radio" name="psychological" value="SADNESS"> Sadness<br>
		<input type="radio" name="psychological" value="FEELING ISOLOATED OR LONELINSS"> Feeling isolated or loneliness<br>
		<input type="radio" name="psychological" value="OTHERS"> Others<br>


	<p>What are your personal methods to relieve stress?</p>

		<input type="radio" name="relief" value="EATING"> Eating<br>
		<input type="radio" name="relief" value="SLEEPING"> Sleeping<br>
		<input type="radio" name="relief" value="GAMES"> Games<br>
		<input type="radio" name="relief" value="SOCIAL MEDIA"> Social Media<br>
		<input type="radio" name="relief" value="OTHERS"> Others<br>


	<p>What are the usual Cognitive effects of stress you've noticed at yourself?</p>

		<input type="radio" name="cognitive" value="MEMORY PROBLEMS/FORGETFULNESS"> Memory problems/forgetfulness<br>
		<input type="radio" name="cognitive" value="CONFUSION"> Confusion<br>
		<input type="radio" name="cognitive" value="DIFFICULTY CONCENTRATING"> Difficulty Concentrating<br>
		<input type="radio" name="cognitive" value="LIMITED ATTENTION SPAN"> Limited attention span<br>
		<input type="radio" name="cognitive" value="OTHERS"> Others<br>


<p>Are you satisfied with the quality of your work?</p>
<label>
  <input type="radio" name="work" value="STRONGLY AGREE"> A) strongly agree
</label>
<label>
  <input type="radio" name="work" value="AGREE"> B) agree
</label>
<label>
  <input type="radio" name="work" value="NEUTRAL"> C) neutral
</label>
<input type="radio" name="work" value="DISAGREE"> D) disagree
</label>
<label>
<input type="radio" name="work" value="STRONGLY DISAGREE"> E) strongly disagree
</label><br>

<button> submit</button>
</form>



</body>
<style> \
button{
  color: blue;
  animation: fadeInOut 10s ease-in-out infinite;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}



body {
  font-family: Arial, sans-serif;
}
h1{
  font-style: oblique;
  margin: inherit;
  position: center;
  font-size: 30px;
  margin-left: 150px;
  color: red;
}
h4{
  font-size: 20px;
  margin: inherit;
  font-style: normal;
}
form {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  margin-left: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}
</style>
